.contact-form {
    margin: 50px auto;
    max-width: 800px; /* Aumentamos el ancho máximo */
    background-color: #F9F8F2;
    padding: 40px; /* Aumentamos el espacio interno */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    
  }