/* Estilos personalizados */
/* Color de fondo gris claro */
body {
  background-color: #f2f2f2;
}

.header {
  margin-top: 50px;
}

.header-button {
  border-radius: 20px;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10 20px; /* Increase the margin value as per your requirement */
}
